@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-poppins;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-lg;
    }
    h5 {
        @apply text-sm;
    }
    h6 {
        @apply text-xs;
    }
}

@layer components {
    .shadow-text {
        @apply before:content-[''] before:absolute before:h-10  before:w-full before:bottom-0 before:pointer-events-none before:bg-gradient-to-b before:from-transparent before:to-white;
    }
    .cart-badge {
        @apply absolute top-[-8px] right-[-8px] h-3 w-3 rounded-full bg-black text-white text-[8px] leading-3 text-center;
    }
    .button-primary {
        @apply px-4 py-2 text-white rounded uppercase cursor-pointer bg-primary shadow-sm shadow-primary
            hover:bg-white hover:text-primary hover:border hover:border-primary hover:shadow-md hover:shadow-primary;
    }
    .button-outline {
        @apply px-4 py-2 text-primary rounded uppercase cursor-pointer border border-primary shadow-sm shadow-primary
            hover:bg-primary hover:text-white hover:shadow-md hover:shadow-primary;
    }
    .wrapper-scroll {
        @apply grid gap-8 grid-flow-col auto-cols-[80%] overflow-x-auto no-scrollbar snap-mandatory snap-x snap-always md:grid-cols-3;
    }
    .input-outline-none {
        @apply py-4 border-b focus:outline-none;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
